.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  background-color: lightcoral;
}

.button {
  padding: 0px 10px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
}
